.nameContainer{
    width: auto;
    height: 8rem;
    display: flex;
    position: relative;
    margin-left: 0.5em;
    padding: 1em;
    flex-direction: column;
    justify-content: space-evenly;
}

.personName{
    font-size: 1.5rem;
    color: #f5f5f5;
}

.personName::selection,
.profesionName::selection{
    color:#333;
    background-color: black;
}

.profesionName{
    font-size: 1.15rem;
    color: #00ff9f;
}

/* Mobile and Tablet */
@media (max-width: 1023px) {
    .nameContainer{
        margin-left: 0;
        padding: 0;
        height: 4rem;
        align-items: center;
    }

    .personName{
        font-size: 1em;
    }

    .profesionName{
        font-size: 0.90em;
    }
}