.headContainer{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: start;
    align-items: center;
    /* flex-direction: column; */
    padding: 0 6rem;
}

/* Mobile and Tablet */
@media (max-width: 1023px) {
    .headContainer{
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        padding: 0;
    }
}